# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
*.riscv

build
cmake-build-debug
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.vscode
.idea

riscv-simulator
cache-simulator
riscv_simulator.cbp
test/*.s
test/tmp_exec
*.asm

*.DS_Store
Testing
*.txt